/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
*   CUSTOM STYLE
*/
html {
    height: 100%;
    font-family: sans-serif;
}
body {
    height: 100%;
    margin: 0px;
    overflow: hidden;
}
.body{
    height: 100%;
    overflow: hidden;
    margin: 0px;
    display: flex;
}
.column{
    height: 100%;
    display: flex;
    flex-direction: column;
}
#sidebar{
    width: 70px;
    background-color: #f5f5f5;
    border-right: 1px solid #dadada;
}
#content{
    width: 100%;
}
#toolbar{
    border-bottom: 1px solid #ccc;
    background: #fff;
    padding: 5px 15px;
}
.flex-grow{
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

/* OVERWRITE */
.navbar{
    margin-bottom: 0;
    background-color: #171d5b !important;
    height: 54px;
}
.navbar .navbar-brand{
    height: 54px;
}
.navbar .navbar-nav > li > a {
    padding-top: 17px;
    padding-bottom: 17px;
}

.btn, .input-group-btn .btn{
    margin: 0;
    padding: 5px 3px;
    text-transform: none;
    border: 1px solid #ccc;
}
.btn-default{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-primary {
    color: #fff !important;
    background-color: #337ab7;
    border-color: #2e6da4;
}